.portfolio {
  padding: 2rem;
  position: relative;
  h4 {
    font-size: 0.9rem;
    opacity: 0.75;
  }
}
.portfolioGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  img {
    height: 100%;
  }
}

.portfolioContainer {
  position: relative;
  &:hover {
    transform: translateY(1rem);
  }
}
.Projectinfo {
  display: none;
  border-image: linear-gradient(136deg, rgb(255, 0, 0), rgba(255, 0, 0, 0)) 1;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  background-color: $info_bg;
  width: 100%;
  text-align: justify;
  padding: 0.6rem;
  transition: 1s;
  font-size: 0.8em;

  &.show {
    display: block;
  }
}

.seeMore {
  margin: 1rem auto;
  align-self: center;
  color: white;
  display: block;
  & a {
    color: white;
  }
}

.fa-info-circle {
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
}

.infoBtn a {
  color: white;
}
