.skillsIconsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.skillsIconsContainer div {
  margin-bottom: 1rem;
}

$skillsColors: (
  "html": #e54d26,
  "css": #0b73ba,
  "scss": #cf649a,
  "js": #d9b82d,
  "react": #7de0ff,
  "bootsrap": #8512f3,
);

@each $name, $colors in $skillsColors {
  .skillsIcon-#{$name} {
    font-size: 4rem;
    color: $colors;
    transition: 1s;
    cursor: pointer;
    &:hover {
      transform: translateY(15px);
    }
  }
}
