@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Nunito:wght@300;400;700&family=Open+Sans&family=Orbitron:wght@400;500&family=PT+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 2rem;
  background-color: #2c3e50;
  color: #ffffff;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: initial;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.al-i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
}

a {
  display: block;
  position: relative;
}

.menu a {
  display: block;
  position: relative;
}

.menu a::after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: red;
  height: 4px;
  width: 0%;
  left: -50%;
  right: -50%;
  margin: auto;
}

.menu a:hover::after {
  width: 100%;
}

.menu.flex.display li:last-child a:hover::after {
  width: 0;
}

:root {
  --arabicAnim: "";
  --englishAnim: "";
  --frenchAnim: "";
}

.certifications {
  padding: 4rem;
}

.certifications div {
  margin-bottom: 2rem;
}

.certifications a {
  color: white;
}

@media screen and (min-width: 900px) {
  .certifications {
    padding: 7rem;
  }
}

header {
  padding: 1rem;
  position: relative;
  background-color: #2c3e50;
  -webkit-box-shadow: 0 5px 11px 1px #ff000052;
          box-shadow: 0 5px 11px 1px #ff000052;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  height: auto;
}

.menu {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  border: solid red 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #2c3e50;
  z-index: 1000;
  padding: 1rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  margin-top: 11rem;
  visibility: visible;
}

.menu a {
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu a:hover {
  color: red;
}

.menu li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.menu li:last-child {
  padding: 0.5rem 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu li:last-child a {
  color: white;
}

.menu.display {
  visibility: hidden;
  margin-top: -100%;
}

#humIcon {
  font-size: 2rem;
  color: white;
}

.logo1 {
  width: 8rem;
  height: auto;
}

section.welcome {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 1rem;
}

section.welcome::before {
  content: "";
  background: url("../images/bgPhone.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: -1;
}

section.welcome h1 {
  font-size: 1.7rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

section.welcome p {
  color: white;
  opacity: 0.5;
}

section.welcome img {
  margin-top: 8rem;
}

span {
  color: red;
}

.resImg {
  width: 80%;
}

h2::before {
  content: "<";
  color: white;
  margin-right: 1rem;
}

h2::after {
  content: "/>";
  color: red;
  margin-left: 1rem;
}

.portfolio {
  padding: 2rem;
  position: relative;
}

.portfolio h4 {
  font-size: 0.9rem;
  opacity: 0.75;
}

.portfolioGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
}

.portfolioGrid img {
  height: auto;
}

.portfolioContainer {
  position: relative;
}

.Projectinfo {
  display: none;
  -o-border-image: linear-gradient(45deg, #f1eded, #1900ff) 1;
     border-image: linear-gradient(45deg, #f1eded, #1900ff) 1;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #000000e3;
  width: 100%;
  text-align: justify;
  padding: 0.6rem;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 0.8em;
}

.Projectinfo.show {
  display: block;
}

.seeMore {
  margin: 1rem auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  display: block;
}

.seeMore a {
  color: white;
}

.fa-info-circle {
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
}

.infoBtn a {
  color: white;
}

.langsContainer {
  border: solid red 1px;
  border-radius: 10px;
  margin: auto;
  padding: 1rem;
  width: 90%;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.langsContainer h3 {
  font-size: 1rem;
}

.langCon {
  position: relative;
  width: 100%;
  height: 1rem;
  border-radius: 10px;
  border: solid 1px red;
  overflow: hidden;
}

.langCon > div {
  position: absolute;
  background-color: red;
  width: 0%;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.skillsIconsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.skillsIconsContainer div {
  margin-bottom: 1rem;
}

.skillsIcon-html {
  font-size: 4rem;
  color: #e54d26;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.skillsIcon-html:hover {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.skillsIcon-css {
  font-size: 4rem;
  color: #0b73ba;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.skillsIcon-css:hover {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.skillsIcon-scss {
  font-size: 4rem;
  color: #cf649a;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.skillsIcon-scss:hover {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.skillsIcon-js {
  font-size: 4rem;
  color: #d9b82d;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.skillsIcon-js:hover {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.skillsIcon-react {
  font-size: 4rem;
  color: #7de0ff;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.skillsIcon-react:hover {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.skillsIcon-bootsrap {
  font-size: 4rem;
  color: #8512f3;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.skillsIcon-bootsrap:hover {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.contactForm {
  width: 80%;
  margin: auto;
}

.contactForm input, .contactForm textarea {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
  width: 100%;
}

.contactForm input:focus, .contactForm textarea:focus {
  outline: red;
}

.contactForm div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactForm div > button {
  margin-bottom: 1rem;
}

.contact p {
  margin: auto;
}

footer {
  margin-top: 2rem;
}

.footerBorder {
  height: 5px;
  width: 100%;
  background-color: red;
  margin-bottom: 2rem;
}

.footerLogo {
  width: 10rem;
  margin: auto;
  display: block;
}

.footerIcons {
  width: 80%;
  margin: 2rem auto;
}

.footerIcons a svg {
  font-size: 2rem;
  color: white;
}

.footerIcons a svg:hover {
  color: red;
}

.copyright {
  font-size: 0.6rem;
}

.number {
  font-size: 1rem;
  color: white;
}

@media screen and (min-width: 600px) {
  header nav ul.menu.flex {
    width: 60%;
  }
  section.welcome h1 {
    font-size: 3rem;
  }
  .portfolioGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .Projectinfo {
    overflow-y: auto;
    font-size: 0.6em;
  }
  .skillsIconsContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contactForm div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contactForm div > button {
    margin-bottom: initial;
    width: auto;
  }
}

@media screen and (min-width: 900px) {
  .btn {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: red solid 1px;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer;
  }
  .btn:hover {
    background-color: red;
  }
  .logo1 {
    margin-left: initial;
  }
  #humIcon {
    display: none;
  }
  header nav ul.menu.flex {
    width: initial;
  }
  nav {
    width: 35rem;
    height: auto;
  }
  .menu {
    position: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: initial;
    border: initial;
    position: initial;
    margin-top: initial;
    top: initial;
    left: initial;
    -webkit-transform: initial;
            transform: initial;
    border-radius: initial;
    background-color: initial;
    z-index: initial;
    padding: initial;
    visibility: visible;
    -webkit-transition: initial;
    transition: initial;
  }
  .menu a {
    color: white;
  }
  .menu li:not(:last-child) {
    margin-bottom: initial;
  }
  .menu li:last-child {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .menu li:last-child a {
    color: white;
  }
  .menu.display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    margin-top: initial;
  }
  section.welcome {
    padding: 3rem;
  }
  section.welcome::before {
    background: url("../images/bgPc.jpg");
    background-size: cover;
  }
  section.welcome h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .responsive.flex.cl.al-i {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem;
    margin-bottom: 5rem;
  }
  .responsive.flex.cl.al-i h2 {
    width: 100%;
    font-size: 4rem;
    line-height: 6rem;
  }
  span {
    color: red;
  }
  .resImg {
    width: 40%;
  }
  .portfolio h4 {
    display: none;
  }
  .Projectinfo {
    font-size: 1em;
    border: solid 5px red;
    bottom: 0;
    top: 0;
  }
  .portfolioGrid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .portfolio > h2 {
    margin: 0 auto;
    font-size: 3rem;
  }
  .portfolioContainer {
    cursor: pointer;
    position: relative;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .portfolioContainer:hover {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  .portfolioContainer:hover .Projectinfo {
    -webkit-transition: 2s;
    transition: 2s;
    display: block;
  }
  .langsContainer {
    width: 40%;
  }
  .skillsIconsContainer.flex.cl.jc-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem;
  }
  .fas.fa-info-circle {
    border: solid 1px red;
    display: none;
  }
  .skillsIcon-html {
    margin-top: 0rem;
  }
  .skillsIcon-css {
    margin-top: 2rem;
  }
  .skillsIcon-scss {
    margin-top: 4rem;
  }
  .skillsIcon-js {
    margin-top: 6rem;
  }
  .skillsIcon-react {
    margin-top: 8rem;
  }
  .skillsIcon-bootsrap {
    margin-top: 10rem;
  }
  .contactForm {
    width: 50%;
  }
  .contactForm input[type="text"], .contactForm textarea[type="text"] {
    display: inline-block;
    width: 48%;
  }
  .contactForm input[type="email"], .contactForm textarea[type="email"] {
    display: inline-block;
    width: 48%;
    margin-left: 3%;
  }
  footer div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footerIcons {
    width: 30rem;
    margin: 2rem auto;
  }
  .footerIcons a i {
    font-size: 2rem;
    color: white;
  }
  .footerIcons a i:hover {
    color: red;
  }
}

@media print {
  body {
    background-color: black;
  }
  body h1 {
    color: black;
  }
}
/*# sourceMappingURL=style.css.map */